.MeetTeamCard {
  padding: 16px;
  border-radius: 27.46px;
  background: #F5F5F5;
  width: 225px;
  height: 187.5px;
}

.MeetTeamCard-image {
  width: 90%;
  height: 112.5px;
  object-fit: cover;
  border-radius: 27.46px;
  margin-bottom: 5px ;
}

.MeetTeamCard h2 {
  color: #F09B24;
  margin: 0;
}

.MeetTeamCard h3 {
    color: #F09B24;
    margin: 5px;
}