.MeetTeamCard {
  padding: 1rem;
  border-radius: 27.46px;
  background: #F5F5F5;
  width: 14.0625rem;
  height: 11.71875rem;
}

.MeetTeamCard-image {
  width: 90%;
  height: 7.03125rem;
  object-fit: cover;
  border-radius: 27.46px;
  margin-bottom: 0.3125rem;
}

.MeetTeamCard h2 {
  color: #F09B24;
  margin: 0;
}

.MeetTeamCard h3 {
  color: #F09B24;
  margin: 0.3125rem;
}