.TitleCard{
    width: 1800px;
    height: 10vw;
    background-color: #1A1A1A;
    color: #F7F3E3;
    border-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1{
    width: 5% ;
    height: auto
}

.img2{
    width: 5% ;
    height: auto;
}

.TitleCard h2{
    padding-top: 2%;
    font-weight: bold;
    font-size: 40px;
    margin: 10px;
}

.TitleCard h3{
    font-weight: lighter;
    margin: 0;
}